# DB(docker 미사용시 필요 X)
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# AI


# Backend(docker 사용시 필요 X)
SPRING_DATASOURCE_URL="DB 주소"
SPRING_DATASOURCE_USERNAME="DB 사용자"
SPRING_DATASOURCE_PASSWORD="DB 암호"
SPRING_DATA_REDIS_HOST=host
SPRING_DATA_REDIS_PORT=1234
AI_SERVICE_URL=

# Backend
JWT_SECRET=

# Frontend
NEXT_PUBLIC_API_URL=