.idea
.vscode/
.env
.env.local

# Temporary UI Analysis
temp_ui/

# System Files
.DS_Store
Thumbs.db

# Project Artifacts
node_modules/
.next/
build/
dist/

docker-compose.local.yml
nginx/nginx.local.conf
# Large data and models
ocr/data/images/
ocr/models/
ai/crawled-results/
ai/data/onnx_model/
*.zip
*.onnx
*.pdiparams
*.safetensors
*.bin
*.model

